body {
    font-family: Helvetica;
    background-image: url("/portfolio/assets/images/forestBackground.jpg");
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: top;
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: center;
  text-align: space-around;
  text-shadow: 1px 1px grey;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.header {
  margin: 5% 20%;
  padding: 10px;
  display: block;
  color: white;
  text-align: center;
  text-shadow: 1px 1px grey;
}

h1 {
  text-shadow: 2px 2px grey
}

h3 {
  color: white;
  text-shadow: 1px 1px grey;

}

p {
  text-shadow: 1px 1px grey;
}

a {
  color: white;
}

#contact {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

#projects {
  justify-content: center;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}
  
  .hero {
    background-color: black;
    width: 80%;
  }

  #my-photo {
    border-radius: 0%;
    float: left;
    height: 300px;
    width: 300px;
  }