body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-style: groove;
}

.subtitle {
    border-style: groove;
}

#about {
    border-style: groove;
}

#projects {
    border-style: groove;
}

#projects li {
    border-style: groove;
    flex-wrap: wrap;
}

.main-project {
    font-size: larger;
}

#contact {
    border-style: groove;
}


