body {
  background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 10%;
    border: 1px solid
}

#main-header {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: flex-end; 
}


.name {
align-self: flex-start;
margin-right: 20%;
}

.nav {
flex-direction: row;
}

.btn:hover {
  cursor: pointer;
}

.nav li:hover {
  background: white;
  cursor: pointer;
}

.subtitle img {
    border-radius: 0% 50% 50% 0%;
    max-width: 25%;
    height: auto;
    display: flex;
    align-items: center;
}


  h2 {
    float: right;
  }
  
  h3 {
    float: right;
  }

#about {
background-color: grey;
color: white;
display: flex;
}

.bio {
  margin: 2% 20%
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-main {
  width: 100%;
  background-color: bisque;
}

.flexbox-item {
  background-color: bisque;
}

.title {
text-align: center;
}

img {
    width: 100%;
  }

.flex-child {
width: 50%;
}

#projects img:hover {
    filter: grayscale(75%);
    cursor: pointer;
}


#contact {
  background-color: grey;
  color: white;
}
